body {
    background: #fefefe;
}

.margin-right-5 {
    margin-right: 5px;
}

.middle {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.transform {
    border-radius: 10px;
    border: 1px #ccc solid;
}
